<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing yoMeals">
    <test name="Automation testing using selenium">
         <classes>
             <class name="tests.BasicTest"/>
             <class name="tests.MealItem"/>
             <class name="tests.ProfileTest"/>
             <class name="tests.SearchTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->